{% load static %}

<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="../../static/supernana/contact.css">
</head>

<body>
    <h1>CONTACT</h1>

    <form action ="{% url 'contact' %}" id="contact-form" method="post" class="reservations-box" name="contactform" action="mail.php">
    	{% csrf_token %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-box">
                                    <input type="text" name="name" id="name" placeholder="nom">
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-box">
                                    <input type="email" name="email" id="email" placeholder="email"/>
                                </div>
                            </div>
                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-box">
                                    <input type="text" name="message" id="message" placeholder="message"/>
                                </div>
                            </div>

                            
                            <!-- end col -->
                            
                            
                            <!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="reserve-book-btn text-center">
                                    <button class="hvr-underline-from-center" type="submit" value="SEND" id="submit">Envoyer</button>
                                </div>
                            </div>

</form>
</body>