 <!DOCTYPE html>
 {% load static %}
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}">
</head>

<body>
<!-- templates/registration/login.html -->
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
        <!-- end container -->
</form>
</body>

</html> 