form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}



/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
@font-face {
    font-family: 'nautilus_pompiliusregular';
    font-weight: normal;
    font-style: normal;
}

body{
	color:#686868;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	line-height:1.80857;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 58px;
    text-align:center;
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

ul, li, ol{
	margin:0px;
	padding:0px;
	list-style:none;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}


html, body{ height: 100%; }

/*------------------------------------------------------------------
    RESERVATIONS AREA
-------------------------------------------------------------------*/

.reservations-main{
	
}

.form-reservations-box{
	width:70%;
	margin:0 auto;
}

.reservations-main h4{
	text-align:center;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
    padding-top: 25px;
}

.reservations-main p{
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}

.reservations-box{
	padding-top:30px;
}

.form-box{
	margin-bottom:20px;
	min-height: 53px;
}

.form-box input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:54px;
}

.form-box select{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding: 12px;
	text-transform:capitalize;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.form-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width:100%;
}
.form-box .bootstrap-select button{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020 !important;
	padding: 15px;
	text-transform:capitalize;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form-box select option{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

::-webkit-input-placeholder { /* Chrome */
  color:#202020;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#202020;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#202020;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color:#202020;
  opacity: 1;
}

.reserve-book-btn{
	padding-top:30px;	
   text-align: center;

}

.reserve-book-btn button a{
	color: #fff;

}

.reserve-book-btn button:hover {
    background: none;
    color: #518af0;

}

.reserve-book-btn button  {
    color:#518af0;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.reserve-book-btn button:hover a{
	background:none;
	border:none;
}

textarea:focus, input:focus, select:focus, .bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}

.register-main
{
  
}